body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  text-align: center;
}

.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

.logo img {
  width: 120px;
  margin: 20px 0;
}


.gold-btn {
  background: linear-gradient(45deg, #FFD700, #FF8C00);
  color: black;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0;
  font-weight: bold;
}

.gold-btn.small {
  padding: 6px 12px;
  font-size: 14px;
}

.gold-btn:disabled {
  background: gray;
  cursor: not-allowed;
}


.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #FFD700;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
